<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.suteren.medicomp"
	android:versionCode="0024"
	android:versionName="0.0.24-SNAPSHOT" >

	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:name=".MediComp"
		android:debuggable="true"
		android:icon="@drawable/medicomp"
		android:label="@string/app_name" >
		<activity
			android:name=".ui.activity.DashboardActivity"
			android:launchMode="singleTask" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".plugin.person.PersonListActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask" >
			<intent-filter>
				<category android:name="net.suteren.medicomp.PERSON" />
			</intent-filter>
		</activity>
		<activity android:name=".plugin.person.PersonProfileActivity" >
		</activity>
		<activity android:name=".ui.activity.RecordListActivity" >
		</activity>
		<activity android:name=".ui.activity.RecordProfileActivity" >
		</activity>
		<activity android:name=".plugin.chart.ChartWidgetPreferenceActivity" >
		</activity>
		<activity android:name=".plugin.temperature.TemperatureWidgetPreferenceActivity" />
		<activity android:name=".ui.activity.MedicompPreferencesActivity" />
		<activity android:name=".plugin.temperature.TemperatureListActivity" >
		</activity>
		<activity android:name=".plugin.illness.IllnessListActivity" >
		</activity>
		<activity android:name=".plugin.illness.IllnessWidgetPreferenceActivity" >
		</activity>

		<!-- <provider -->
		<!-- android:name=".provider.MediCompCalendar" -->
		<!-- android:authorities="com.android.calendar;calendar" -->
		<!-- android:enabled="true" -->
		<!-- android:exported="true" -->
		<!-- android:readPermission="android.permission.READ_CALENDAR" -->
		<!-- android:syncable="true" > -->
		<!-- </provider> -->
		<activity android:name=".ui.AboutActivity" >
		</activity>
	</application>

</manifest>